.cart {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  position: relative;
  user-select: none;

  
}

.cart:before {
  content: "";
  background-color: orangered;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 25px;

}

.cart__count {
  background: red;
  font-size: 1.8rem;
  position: absolute;
  top: 2px;
  left: 31px;
  z-index: 9;
}

.cart__totalPrice {
  font-size: 2.4rem;
  color: #fff;
  font-weight: 600;
}
