.cart__block {
  background-color: rgb(36, 37, 41);
  position: absolute;
  top: 55px;
  right: 300px;
  width: 400px;
}

@media (max-width: 1400px) {
  .cart__block {
    right: 100px;
  }
}

@media (max-width: 576px) {
  .cart__block {
    right: 20px;
  }
}
