@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(25, 26, 28);
  color: #fff;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

@media (max-width: 1400px) {

  .container {
    width: 1150px;
  }
}

@media (max-width: 1200px) {
 
  .container {
    width: 980px;
  }
}

@media (max-width: 992px) {
 
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {

  .container {
    width: 600px;
  }
}


@media (max-width: 576px) { 
 
  .container {
    width: 420px;
  }
 }